# Environment files
**/.env
**/.env.*
!**/.env.example
!**/.env.docker.example

# Dependencies
**/node_modules/
**/vendor/

# Build output
**/.next/
**/storage/logs/
**/storage/framework/cache/
**/storage/framework/sessions/
**/storage/framework/views/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
